/**
 * @tab       3-Columns
 * @section   Background
 * @tip       Set the background color for the email's 3-column area.
 */
.cols-3 {
  width: 100%;
  /*@editable*/ background-color: white;
}

.cols-3 .items-3-3 { width: (100% * (3/3)); }
.cols-3 .items-2-3 { width: (100% * (2/3)); }
.cols-3 .items-1-3 { width: (100% * (1/3)); }

/**
 * @tab       3-Columns
 * @section   Border
 * @tip       Set the border style for the email's 3-column area.
 */
.cols-3 {
  /*@editable*/ border-top: 1px solid #FFFFFF;
  /*@editable*/ border-bottom: 1px solid #CCCCCC;
}

/**
 * @tab       3-Columns
 * @section   Gutter
 * @tip       Set the gutter for the email's 3-column area.
 */
.cols-3 [class*=" items-"],
.cols-3 [class^="items-"] {
  margin: 0 auto;
  border-collapse: separate !important;
  /*@editable*/ border-spacing: $column-spacing;
  
  @include multi-breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    width: 100% !important;
    display: block !important;
    max-width: none !important;
    border-collapse: collapse !important;
  }
  
}

/**
 * @tab       Mobile
 * @section   3-Column Padding
 * @tip       Add some padding to columns in the 3-column area on smaller screens.
 */
.cols-3 .column {
  @include multi-breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    /*@editable*/ padding-left: $column-spacing !important;
    /*@editable*/ padding-right: $column-spacing !important;
  }
}

.cols-3 .column {
  width: (100% / 3); 
  max-width: (100% / 3); 
  
  @include multi-breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    width: 100% !important;
    display: block !important;
    max-width: 100% !important;
  }
  
}

/**
 * @tab       3-Columns
 * @section   Text
 * @tip       Set the text style for your email's 3-column content text.
 */
.cols-3 .column .content {
  /*@editable*/ color: #505050;
  /*@editable*/ font-family: $font-body;
  /*@editable*/ font-size: 14px;
  /*@editable*/ line-height: 150%;
  /*@editable*/ text-align: left;
  padding: 0;
}

/**
 * @tab       Mobile
 * @section   3-Column Text
 * @tip       Make column text larger on smaller screens.
 */
.cols-3 .column .content {
  @include breakpoint( $breakpoint-mobile ) {
    /*@editable*/ font-size: 16px !important;
    /*@editable*/ line-height: 125% !important;
  }
}

/**
 * @tab       3-Columns
 * @section   Spacing
 * @tip       Set the spacing between content in the email's 3-column area.
 */
.cols-3 .column tr:not(:first-of-type) .content {
  /*@editable*/ padding-top: $column-spacing !important;
}

/**
 * @tab       3-Columns
 * @section   Links
 * @tip       Set the link styles for your email's 3-column content text.
 */
.cols-3 .column .content a, 
.cols-3 .column .content a:visited, 
.cols-3 .column .content a .yshortcuts {
  /*@editable*/ color: $color-blue;
  /*@editable*/ font-weight: normal;
  /*@editable*/ text-decoration: underline;
}

.cols-3 .column img {
  display: block;
  height: auto;
  max-width: 100%;
  
  @include multi-breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    width: 100% !important;
  }
  
}