/**
 * @tab       Footer
 * @section   Background
 * @tip       Set the background color for the email's footer area.
 * @theme     footer
 */
#footer {
  width: 100%;
  /*@editable*/ background-color: white;
}

/**
 * @tab       Footer
 * @section   Border
 * @tip       Set the border style for the email's footer area.
 * @theme     footer
 */
#footer {
  /*@editable*/ border-top: 1px solid #CCCCCC;
}

/**
 * @tab       Footer
 * @section   Text
 * @tip       Set the text style for the email's footer.
 * @theme     footer
 */
#footer .content {
  /*@editable*/ color: #808080;
  /*@editable*/ font-family: $font-body;
  /*@editable*/ font-size: 10px;
  /*@editable*/ line-height: 150%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /*@editable*/ text-align: center;
}

/**
 * @tab       Footer
 * @section   Social
 * @tip       Set the social button style for the email's footer.
 */
#footer .social table {
  margin: 0 auto;
  border-collapse: separate !important;
  /*@editable*/ border-spacing: 20px;
  
  a { display: block; }
  
}

/**
 * @tab       Footer
 * @section   Social
 * @tip       Set the size of the social button for the email's footer.
 */
#footer .social img {
  /*@editable*/ width: 30px;
  /*@editable*/ height: 30px;
}

/**
 * @tab       Mobile
 * @section   Footer Text
 * @tip       Make the footer text larger on smaller screens.
 */
#footer .content {
  @include breakpoint( $breakpoint-mobile ) {
    /*@editable*/ font-size: 14px !important;
    /*@editable*/ line-height: 115% !important;
  }
}

/**
 * @tab       Footer
 * @section   Links
 * @tip       Set the link styles for your footer.
 */
#footer .content a, 
#footer .content a:visited, 
#footer .content a .yshortcuts, 
#footer .content a span {
  /*@editable*/ color: #606060;
  /*@editable*/ font-weight: normal;
  /*@editable*/ text-decoration: underline;
}