/**
 * @tab        Header
 * @section    Background
 * @tip        Set the background color for your email's header area.
 * @theme      header
 */
#header {
  width: 100%;
  /*@editable*/ background-color: white;
}

/**
 * @tab        Header
 * @section    Border
 * @tip        Set the border style for your email's header area.
 * @theme      header
 */
#header {
  /*@editable*/ border-top: 1px solid #CCCCCC;
  /*@editable*/ border-bottom: 1px solid #FFFFFF;
}

/**
 * @tab       Mobile
 * @section   Header Image
 * @tip       Make the header image fluid on smaller screens.
 */
#header {
  @include multi-breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    height: auto !important;
    /*@editable*/ max-width: $layout-max-width !important;
    /*@editable*/ width: 100% !important;
  }
}

/**
 * @tab       Mobile
 * @section   Header Text
 * @tip       Make the header text larger on smaller screens.
 */
#header {
  @include multi-breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    /*@editable*/ font-size: 20px !important;
    /*@editable*/ line-height: 125% !important;
  }
}

/**
 * @tab       Header
 * @section   Text
 * @tip       Set the text styles for the email's header.
 */
#header .content {
  /*@editable*/ color: #505050;
  /*@editable*/ font-family: $font-body;
  /*@editable*/ font-size: 20px;
  /*@editable*/ font-weight: bold;
  /*@editable*/ line-height: 100%;
  /*@editable*/ padding-top: 0;
  /*@editable*/ padding-right: 0;
  /*@editable*/ padding-bottom: 0;
  /*@editable*/ padding-left: 0;
  /*@editable*/ text-align: left;
  /*@editable*/ vertical-align: middle;
}

/**
 * @tab       Header
 * @section   Links
 * @tip       Set the link styles for the email's header.
 */
#header .content a, 
#header .content a:visited, 
#header .content a .yshortcuts {
  /*@editable*/ color: $color-blue;
  /*@editable*/ font-weight: normal;
  /*@editable*/ text-decoration: underline;
}

#header img {
  margin: 0 auto;
  display: block;
  height: auto;
  width: 100%;
  max-width: $layout-max-width;
}