ul {
  list-style-image: url(https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/c100a7c8-be8b-4516-8ba9-6ee71d40abc7.png);
  padding: 0;
  line-height: inherit !important;
  padding-left: 15px;
}