#wrapper { 
  padding: 20px; 
  
  @include breakpoint( $breakpoint-tablet ) { padding: 10px !important; }
  @include breakpoint( $breakpoint-mobile ) { padding: 0 !important; }
  
}

#template { 
  margin: 0 auto;
  max-width: $layout-max-width !important; 
  
  @include breakpoint( $breakpoint-mobile, $breakpoint-tablet ) {
    width: 100% !important;
  }
  
}

/**
 * @tab       Page
 * @section   Background
 * @tip       Set the background color of the email.
 * @theme     Page
 */
body,
#body {
  /*@editable*/ background-color: #F4F4F4;
}

/**
 * @tab       Page
 * @section   Border
 * @tip       Set the border around the email.
 */
#template {
  /*@editable*/ border: none;
  width: 100% !important;
}

/**
 * @tab       Page
 * @section   Fonts
 * @tip       Set body styles for the email.
 * @theme     body
 */
body,
#body {
  /*@editable*/ font-family: $font-body;
  /*@editable*/ font-size: 16px;
  /*@editable*/ color: $color-text-dark;
  /*@editable*/ line-height: 100%;
}

/**
 * @tab       Mobile
 * @section   Fonts
 * @tip       Make body text larger for smaller screans.
 * @theme     body
 */
@include breakpoint( $breakpoint-mobile ) {
  body,
  #body {
    /*@editable*/ font-size: 18px !important;
    /*@editable*/ line-height: 125% !important;
  }
}

/**
 * @tab       Page
 * @section   Links
 * @tip       Set link styles for the email.
 */
a, 
a:visted { 
  /*@editable*/ color: $color-blue;
}

/**
 * @tab       Page
 * @section   Heading 1
 * @tip       Set the style for first-level headings.
 * @style     Heading 1
 */
h1 {
  /*@editable*/ color: $color-blue !important;
  /*@editable*/ font-family: $font-heading;
  /*@editable*/ font-size: 26px;
  /*@editable*/ font-style: normal;
  /*@editable*/ font-weight: bold;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  /*@editable*/ text-align: left;
}
  
/**
 * @tab       Mobile
 * @section   Heading 1
 * @tip       Make first-level headings larger on smaller screen.
 */
h1 {
  @include breakpoint( $breakpoint-mobile ) {
    font-size: 24px !important;
    line-height: 100% !important;
  }
}

/**
 * @tab       Page
 * @section   Heading 2
 * @tip       Set the style for second-level headings.
 * @style     Heading 2
 */
h2 {
  /*@editable*/ color: $color-grey-dark !important;
  /*@editable*/ font-family: $font-heading;
  /*@editable*/ font-size: 20px;
  /*@editable*/ font-style: normal;
  /*@editable*/ font-weight: bold;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  /*@editable*/ text-align: left;
}
  
/**
 * @tab       Mobile
 * @section   Heading 2
 * @tip       Make second-level headings larger on smaller screen.
 */
h2 {
  @include breakpoint( $breakpoint-mobile ) {
    font-size: 20px !important;
    line-height: 100% !important;
  }
}

/**
 * @tab       Page
 * @section   Heading 3
 * @tip       Set the style for third-level headings.
 * @style     Heading 3
 */
h3 {
  /*@editable*/ color: $color-blue !important;
  /*@editable*/ font-family: $font-heading;
  /*@editable*/ font-size: 16px;
  /*@editable*/ font-style: normal;
  /*@editable*/ font-weight: bold;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  /*@editable*/ text-align: left;
}
  
/**
 * @tab       Mobile
 * @section   Heading 3
 * @tip       Make third-level headings larger on smaller screen.
 */
h3 {
  @include breakpoint( $breakpoint-mobile ) {
    font-size: 18px !important;
    line-height: 100% !important;
  }
}

/**
 * @tab       Page
 * @section   Heading 4
 * @tip       Set the style for fourth-level headings.
 * @style     Heading 4
 */
h4 {
  /*@editable*/ color: $color-grey-dark !important;
  /*@editable*/ font-family: $font-heading;
  /*@editable*/ font-size: 14px;
  /*@editable*/ font-style: italic;
  /*@editable*/ font-weight: normal;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  /*@editable*/ text-align: left;
}
  
/**
 * @tab       Mobile
 * @section   Heading 4
 * @tip       Make fourth-level headings larger on smaller screen.
 */
h4 {
  @include breakpoint( $breakpoint-mobile ) {
    font-size: 16px !important;
    line-height: 100% !important;
  }
}