/**
 * @tab       Postfooter
 * @section   Background
 * @tip       Set the background color for the email's postfooter area.
 */
#postfooter {
  width: 100%;
  /*@editable*/ background-color: transparent;
}

/**
 * @tab       Postfooter
 * @section   Border
 * @tip       Set the border style for the email's postfooter area.
 */
#postfooter {
  /*@editable*/ border-top: none;
}

/**
 * @tab       Postfooter
 * @section   Text
 * @tip       Set the text style for the email's postfooter.
 */
#postfooter .content {
  /*@editable*/ color: #666666;
  /*@editable*/ font-family: $font-body;
  /*@editable*/ font-size: 10px;
  /*@editable*/ line-height: 150%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /*@editable*/ text-align: center;
}

/**
 * @tab       Postfooter
 * @section   Rewards
 * @tip       Set the rewards style for the email's postfooter.
 */
#postfooter .rewards {
  /*@editable*/ color: #666666;
  /*@editable*/ font-family: $font-body;
  /*@editable*/ font-size: 10px;
  /*@editable*/ line-height: 150%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /*@editable*/ text-align: center;
}

/**
 * @tab       Postfooter
 * @section   Links
 * @tip       Set the link styles for your postfooter.
 */
#postfooter .content a, 
#postfooter .content a:visited, 
#postfooter .content a .yshortcuts, 
#postfooter .content a span {
  /*@editable*/ color: #666666;
  /*@editable*/ font-weight: normal;
  /*@editable*/ text-decoration: underline;
}