<table id="template" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" valign="top">
      include "preheader.html"
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      include "header.html"
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      include "postheader.html"
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      include "block.html"
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      include "2-column-layout.html"
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      include "footer.html"
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      include "postfooter.html"
    </td>
  </tr>
</table>