<table class="cols-4" 
       border="0" cellpadding="0" cellspacing="20" width="100%"
       mc-hideable>
  <tr mc:repeatable="4-columns" mc:variant="4 items">
    <td>
      <table class="items-4-4">
      <tr>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_1_image" 
                     mc:edit="column_1_image">
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_1_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_2_image" 
                     mc:edit="column_2_image" />
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_2_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_3_image" 
                     mc:edit="column_3_image" />
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_3_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_4_image" 
                     mc:edit="column_4_image" />
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_4_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr mc:repeatable="4-columns" mc:variant="3 items">
    <td>
      <table class="items-3-4">
      <tr>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_1_image" 
                     mc:edit="column_1_image" />
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_1_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_2_image" 
                     mc:edit="column_2_image" />
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_2_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
        <td align="center" valign="top" class="column">
          <table border="0" cellpadding="20" cellspacing="0" width="100%">
            <tr>
              <td class="content">
                <img src="http://via.placeholder.com/320"
                     mc:label="column_3_image" 
                     mc:edit="column_3_image" />
              </td>
            </tr>
            <tr>
              <td valign="top" class="content text" mc:edit="column_3_content">

                <h3>Repeatable Content</h3>

                <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
  <tr mc:repeatable="4-columns" mc:variant="2 items">
    <td>
      <table class="items-2-4">
        <tr>
          <td align="center" valign="top" class="column">
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
              <tr>
                <td class="content">
                  <img src="http://via.placeholder.com/320"
                       mc:label="column_1_image" 
                       mc:edit="column_1_image" />
                </td>
              </tr>
              <tr>
                <td valign="top" class="content text" mc:edit="column_1_content">

                  <h3>Repeatable Content</h3>

                  <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                  <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

                </td>
              </tr>
            </table>
          </td>
          <td align="center" valign="top" class="column">
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
              <tr>
                <td class="content">
                  <img src="http://via.placeholder.com/320"
                       mc:label="column_2_image" 
                       mc:edit="column_2_image" />
                </td>
              </tr>
              <tr>
                <td valign="top" class="content text" mc:edit="column_2_content">

                  <h3>Repeatable Content</h3>

                  <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                  <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="4-columns" mc:variant="1 item" class="items-1-3">
    <td>
      <table class="items-1-4">
        <tr>
          <td align="center" valign="top" class="column">
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
              <tr>
                <td class="content">
                  <img src="http://via.placeholder.com/320"
                       mc:label="column_1_image" 
                       mc:edit="column_1_image" />
                </td>
              </tr>
              <tr>
                <td valign="top" class="content text" mc:edit="column_1_content">

                  <h3>Repeatable Content</h3>

                  <p><a href="http://kb.mailchimp.com/article/how-do-i-work-with-repeatable-content-blocks" target="_blank">Repeatable sections</a> are noted with plus and minus signs so that you can add and subtract content blocks.</p>

                  <p>You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.</p>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>