<table class="block" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr mc:repeatable="blocks" mc:variant="text block">
    <td>
      <table class="text-block">
        <tr>
          <td valign="top" class="content" mc:edit="1_block_content">

            <h1>Designing Your Template</h1>
            <h2>Creating a good-looking email is simple</h2>

            <p>Customize your template by clicking on the style editor tabs up above. Set your fonts, colors, and styles. After setting your styling is all done you can click here in this area, delete the text, and start adding your own awesome content.</p>

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>
            </ul>
            
            <a href="http://scovill.com" class="button" style="width: 150px;">Learn More</a>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="table block">
    <td>
      <table class="table-block">
        <tr>
          <td valign="top" class="table" mc:edit="2_block_content">

            <table>
              <caption>Table Caption</caption>
              <thead>
                <tr>
                  <th>Heading 1</th>
                  <th>Heading 2</th>
                  <th>Heading 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Subheading 1</th>
                  <td>Data 1</td>
                  <td>Data 2</td>
                </tr>
                <tr>
                  <th>Subheading 2</th>
                  <td>Data 3</td>
                  <td>Data 4</td>
                </tr>
                <tr>
                  <th>Subheading 4</th>
                  <td>Data 5</td>
                  <td>Data 6</td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="image left + text block">
    <td>
      <table class="text-image-block left">
        <tr>
          <td valign="top" class="image" mc:edit="3_block_image">
            <img src="http://via.placeholder.com/320">
          </td>
          <td valign="top" class="content" mc:edit="3_block_content">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="image left + table block">
    <td>
      <table class="table-image-block left">
        <tr>
          <td valign="top" class="image" mc:edit="4_block_image">
            <img src="http://via.placeholder.com/320">
          </td>
          <td valign="top" class="table" mc:edit="4_block_content">

            <table>
              <caption>Table Caption</caption>
              <thead>
                <tr>
                  <th>Heading 1</th>
                  <th>Heading 2</th>
                  <th>Heading 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Subheading 1</th>
                  <td>Data 1</td>
                  <td>Data 2</td>
                </tr>
                <tr>
                  <th>Subheading 2</th>
                  <td>Data 3</td>
                  <td>Data 4</td>
                </tr>
                <tr>
                  <th>Subheading 4</th>
                  <td>Data 5</td>
                  <td>Data 6</td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="image right + text block">
    <td>
      <table class="text-image-block right">
        <tr>
          <td valign="top" class="content" mc:edit="5_block_content">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="image" mc:edit="5_block_image">
            <img src="http://via.placeholder.com/320">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="image right + table block">
    <td>
      <table class="table-image-block right">
        <tr>
          <td valign="top" class="table" mc:edit="6_block_content">

            <table>
              <caption>Table Caption</caption>
              <thead>
                <tr>
                  <th>Heading 1</th>
                  <th>Heading 2</th>
                  <th>Heading 3</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Subheading 1</th>
                  <td>Data 1</td>
                  <td>Data 2</td>
                </tr>
                <tr>
                  <th>Subheading 2</th>
                  <td>Data 3</td>
                  <td>Data 4</td>
                </tr>
                <tr>
                  <th>Subheading 4</th>
                  <td>Data 5</td>
                  <td>Data 6</td>
                </tr>
              </tbody>
            </table>

          </td>
          <td valign="top" class="image" mc:edit="6_block_image">
            <img src="http://via.placeholder.com/320">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="full image block">
    <td>
      <table class="image-block full">
        <tr>
          <td valign="top" class="image" mc:edit="7_block_image">
            <img src="http://via.placeholder.com/640x300">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="half image + text block">
    <td>
      <table class="text-image-block halves">
        <tr>
          <td valign="top" 
              class="image-content" 
              mc:edit="8_block_image_content_1">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
          <td valign="top" 
              class="image-content" 
              mc:edit="8_block_image_content_2">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="half text block">
    <td>
      <table class="text-block halves">
        <tr>
          <td valign="top" class="content" mc:edit="9_block_content_1">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="content" mc:edit="9_block_content_2">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="third image + text block">
    <td>
      <table class="text-image-block thirds">
        <tr>
          <td valign="top" 
              class="image-content" 
              mc:edit="10_block_image_content_1">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
          <td valign="top" 
              class="image-content" 
              mc:edit="10_block_image_content_2">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
          <td valign="top" 
              class="image-content" 
              mc:edit="10_block_image_content_3">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="third text block">
    <td>
      <table class="text-block thirds">
        <tr>
          <td valign="top" class="content" mc:edit="11_block_content_1">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="content" mc:edit="11_block_content_2">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="content" mc:edit="11_block_content_3">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="quarter image + text block">
    <td>
      <table class="text-image-block quarters">
        <tr>
          <td valign="top" 
              class="image-content"
              mc:edit="12_block_image_content_1">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
          <td valign="top" 
              class="image-content"
              mc:edit="12_block_image_content_2">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
          <td valign="top" 
              class="image-content"
              mc:edit="12_block_image_content_3">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
          <td valign="top" 
              class="image-content"
              mc:edit="12_block_image_content_4">
            
            <img src="http://via.placeholder.com/320">
            
            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr mc:repeatable="blocks" mc:variant="quarter text block">
    <td>
      <table class="text-block quarters">
        <tr>
          <td valign="top" class="content" mc:edit="13_block_content_1">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="content" mc:edit="13_block_content_2">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="content" mc:edit="13_block_content_3">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
          <td valign="top" class="content" mc:edit="13_block_content_4">

            <h3>Styling Your Content</h3>
            <h4>Make your email easy to read</h4>

            <p>After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "<em>styles</em>" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "<em>remove formatting</em>" button to strip the text of any formatting and reset your style.</p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>