<table id="footer" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="content" mc:edit="footer_social">
      <a href="*|TWITTER:PROFILEURL|*">Follow on Twitter</a> |
      <a href="*|FACEBOOK:PROFILEURL|*">Friend on Facebook</a> |
      <a href="*|FORWARD|*">Forward to Friend</a>
    </td>
  </tr>
  <tr>
    <td valign="top" class="content" mc:edit="footer_content">
          
      <p><em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*. All rights reserved.</em></p>
        
      <!-- *|IFNOT:ARCHIVE_PAGE|* -->
      <p>*|LIST:DESCRIPTION|*</p>

      <p><strong>Our mailing address is:</strong><br>
        *|HTML:LIST_ADDRESS_HTML|*</p>
      <!-- *|END:IF|* -->
      
    </td>
  </tr>
</table>