<table id="footer" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="social" mc:edit="footer_social">
      
      <table>
        <tr>
          <td>
            <a href="*|TWITTER:PROFILEURL|*">
              <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" alt="Follow on Twitter" title="Follow on Twitter">
            </a>
          </td>
          <td>
            <a href="*|FACEBOOK:PROFILEURL|*">
              <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Friend on Facebook" title="Friend on Facebook">
            </a>
          </td>
          <td>
            <a href="*|FORWARD|*">
              <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Forward to Friend" title="Forward to Friend">
            </a>
          </td>
        </tr>
      </table>
        
    </td>
  </tr>
  <tr>
    <td valign="top" class="content" mc:edit="footer_content">
          
      <p><em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*. All rights reserved.</em></p>
        
      <!-- *|IFNOT:ARCHIVE_PAGE|* -->
      <p>*|LIST:DESCRIPTION|*</p>

      <p><strong>Our mailing address is:</strong><br>
        *|HTML:LIST_ADDRESS_HTML|*</p>
      <!-- *|END:IF|* -->
      
    </td>
  </tr>
</table>