<table id="postheader" border="0" cellpadding="0" cellspacing="0" width="100%"
       mc:hideable>
  <tr>
    <td valign="top" class="content">
      <img class="image" src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/89a978b0-c66e-4dd6-bfa0-89f431e44e41.png"
           style="width: 13%; max-width: 75px;"
           mc:repeatable="brand"
           mc:variant="Gripper"
           mc:label="postheader_image_1" 
           mc:edit="postheader_image_1" 
           mc:allowdesigner 
           mc:allowtext />
      <img class="image" src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/82f24573-5b9a-4c79-9102-08d13f8ab9a0.png"
           style="width: 13%; max-width: 75px;"
           mc:repeatable="brand"
           mc:variant="Duramark"
           mc:label="postheader_image_2" 
           mc:edit="postheader_image_2" 
           mc:allowdesigner 
           mc:allowtext />
      <img class="image" src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/45e17604-336c-40c4-9de5-ae37a3dc4d86.png"
           style="width: 13%; max-width: 75px;"
           mc:repeatable="brand"
           mc:variant="DOT"
           mc:label="postheader_image_3" 
           mc:edit="postheader_image_3" 
           mc:allowdesigner 
           mc:allowtext />
    </td>
  </tr>
</table>