<table id="postheader" border="0" cellpadding="0" cellspacing="0" width="100%"
       mc:hideable>
  <tr>
    <td valign="top" class="content">
      <table cellspacing="20" 
             cellpadding="0" 
             mc:repeatable="brand"
             mc:variant="Big 3"
             style="width: 55%;">
        <tr>
          <td class="image" style="max-width: 75px; min-width: 40px;">
            <img src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/89a978b0-c66e-4dd6-bfa0-89f431e44e41.png"
                 mc:label="postheader_image_1" 
                 mc:edit="postheader_image_1" 
                 mc:allowdesigner 
                 mc:allowtext
                 width="75">
          </td>
          <td class="image" style="max-width: 75px; min-width: 40px;">
            <img src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/82f24573-5b9a-4c79-9102-08d13f8ab9a0.png"
                 mc:label="postheader_image_2" 
                 mc:edit="postheader_image_2" 
                 mc:allowdesigner 
                 mc:allowtext
                 width="75">
          </td>
          <td class="image" style="max-width: 75px; min-width: 40px;">
            <img src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/45e17604-336c-40c4-9de5-ae37a3dc4d86.png"
                 mc:label="postheader_image_3" 
                 mc:edit="postheader_image_3" 
                 mc:allowdesigner 
                 mc:allowtext
                 width="75">
          </td>
        </tr>
      </table>
      <table cellspacing="20" 
             cellpadding="0" 
             mc:repeatable="brand"
             mc:variant="Gripper"
             style="width: 20%;">
        <tr>
          <td class="image" style="max-width: 75px; min-width: 40px;">
            <img src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/89a978b0-c66e-4dd6-bfa0-89f431e44e41.png"
                 mc:label="postheader_image_1" 
                 mc:edit="postheader_image_1" 
                 mc:allowdesigner 
                 mc:allowtext
                 width="75">
          </td>
        </tr>
      </table>
      <table cellspacing="20" 
             cellpadding="0" 
             mc:repeatable="brand"
             mc:variant="Duramark"
             style="width: 20%;">
        <tr>
          <td class="image" style="max-width: 75px; min-width: 40px;">
            <img src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/82f24573-5b9a-4c79-9102-08d13f8ab9a0.png"
                 mc:label="postheader_image_1" 
                 mc:edit="postheader_image_1" 
                 mc:allowdesigner 
                 mc:allowtext
                 width="75">
          </td>
        </tr>
      </table>
      <table cellspacing="20" 
             cellpadding="0" 
             mc:repeatable="brand"
             mc:variant="DOT"
             style="width: 20%;">
        <tr>
          <td class="image" style="max-width: 75px; min-width: 40px;">
            <img src="https://gallery.mailchimp.com/d803970745fcd654d4b47cb49/images/45e17604-336c-40c4-9de5-ae37a3dc4d86.png"
                 mc:label="postheader_image_1" 
                 mc:edit="postheader_image_1" 
                 mc:allowdesigner 
                 mc:allowtext
                 width="75">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>